* {
  transition: $fast-transition;
}

body {
  font-family: $main-font;
  overflow-x: hidden;
  background-color: $light-body-bg-color;
}

.container {

  @media (min-width: $screen-lg) {
    max-width: 1170px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (min-width: $screen-xl) {
    max-width: 1300px;
  }

  @media (min-width: $screen-xxl) {
    max-width: 1400px;
  }

  @media (max-width: $screen-lg) {
    max-width: 100%;
    padding: 0 16px;
  }
}

//[class^="col-"] {
//  padding: 0 8px;
//}

main {
  overflow: hidden;
}

.headline-general {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 30px;
  color: $secondary-color;

  @media (max-width: $screen-md) {
    margin: 0 0 20px;
  }

  img {
    @media (max-width: $screen-md) {
      max-width: 28px;
    }
  }
}

.cookies-banner-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  color: $white-color;
  background: $black-color;
  z-index: 1000;

  &.hidden {
    display: none !important;
  }

  p {
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: $fast-transition;
    color: $white-color;
  }

  .btn-accept-cookies {
    background-color: $main-color;

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }

  .btn-decline-cookies {
    background-color: #6c757d;

    &:hover {
      background-color: #545b62;
    }
  }
}

.animation {
  transition: opacity .5s ease-out, transform .5s ease-out !important;
  height: max-content;

  &:not(.animation-active) {
    opacity: 0;
    transform: translateY(10vh);
  }
}
