* {
  transition: $fast-transition;
}

body {
  font-family: $main-font;
  overflow-x: hidden;
  background-color: $light-body-bg-color;
}

.container {

  @media (min-width: $screen-lg) {
    max-width: 1170px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (min-width: $screen-xl) {
    max-width: 1300px;
  }

  @media (min-width: $screen-xxl) {
    max-width: 1400px;
  }

  @media (max-width: $screen-lg) {
    max-width: 100%;
    padding: 0 16px;
  }
}

//[class^="col-"] {
//  padding: 0 8px;
//}

main {
  overflow: hidden;
}

.headline-general {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 30px;
  color: $secondary-color;

  @media (max-width: $screen-md) {
    margin: 0 0 20px;
  }

  img {
    @media (max-width: $screen-md) {
      max-width: 28px;
    }
  }
}


// cookies consent

#cookieConsentB {
  z-index: 1000;
}


#cookieConsentBanner button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white; /* Text color */

}

#acceptCookies {
  background-color: #4392C7;; /* Blue background */
}

#acceptCookies:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#declineCookies {
  background-color: #6c757d; /* Gray background */
}

#declineCookies:hover {
  background-color: #545b62; /* Darker gray on hover */
}
