.hero-section {
  padding: 140px 0;
  position: relative;
  margin-top: 70px;

  @media (max-width: $screen-md) {
    padding: 120px 0;
    margin-top: 65px;
  }

  //.bg-wrap {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: 0;
  //
  //  &::before {
  //    content: '';
  //    position: absolute;
  //    z-index: 1;
  //    top: 0;
  //    left: 0;
  //    height: 100%;
  //    width: 100%;
  //    background-color: rgba($black-color, .6);
  //  }
  //
  //  img {
  //    width: 100%;
  //    height: 100%;
  //    object-fit: cover;
  //  }
  //
  //  video {
  //    height: 100%;
  //    width: 100%;
  //    object-fit: cover;
  //    position: absolute;
  //    z-index: 0;
  //  }
  //}

  .swiper-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .swiper {
      width: 100%;
      height: 100%;
      z-index: 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($black-color, .6);
      }

      .swiper-slide {
        width: 100%;
        height: 100%;

        .img-wrap {
          overflow: hidden;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
      }

      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 48px;
        position: relative;
        z-index: 3;

        @media (max-width: $screen-md) {
          bottom: 28px;
        }
      }

      .swiper-pagination-bullet {
        background-color: $white-color;
      }
    }
  }

  .container {
    z-index: 1;
    position: relative;

    .text-wrap {

      h1 {
        color: $white-color;
        margin: 0 0 20px;

        span {
          color: $main-color;
        }
      }

      p {
        color: $white-color;
        font-size: 18px;
        max-width: 450px;
        margin: 0 0 30px;

        @media (max-width: $screen-lg) {
          font-size: 16px;
        }

        @media (max-width: $screen-md) {
          font-size: 14px;
        }
      }
    }
  }
}
