.numbers-section {
  padding: 60px 0;
  background: url('../img/number-bg.png') center no-repeat;
  background-size: cover;

  @media (max-width: $screen-md) {
    padding: 40px 0;
  }

  .items-wrap {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-xs) {
      flex-direction: column;
      gap: 30px;
    }

    .item {
      flex: 1;
      text-align: center;
      color: $white-color;
    }
  }
}
