.offer-section {

  @media (max-width: $screen-sm) {
    margin-top: 24px;
  }

  .form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      transition: $fast-transition;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      border: 0;
      max-width: 100%;
      padding: 32px 40px;
      border-radius: 24px;
      background-color: $white-color;
      box-shadow: $card-box-shadow;

      @media (max-width: $screen-md) {
        gap: 16px;
        padding: 24px 32px;
      }

      @media (max-width: $screen-sm) {
        padding: 24px;
      }

      h2, h3 {
        font: 600 36px/1 $headline-font;
        color: $secondary-color;
        margin-bottom: 20px;

        @media (max-width: $screen-md) {
          font-size: 28px;
        }
      }

      h3 {
        margin-bottom: 4px;
      }

      .button_group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
          font: 500 16px/1 $main-font;
          border-radius: 50px;
          padding: 11px 32px;
          margin: 0;
          height: 48px;
          color: $dark-color;
          background-color: transparent;
          border: 1px solid $secondary-color;

          &:hover {
            background-color: rgba($secondary-color, .1);
          }
        }
      }

      .form-group {
        margin: 0;
        padding: 0;

        label {
          font: 400 14px/1.2 $main-font;
          margin: 0 0 6px;
        }

        input {
          border: 0;
          height: 48px;
          padding: 6px 12px;
          border-radius: 10px;
          box-shadow: none;
          color: $dark-color;
          background-color: rgba($main-color, 0.05);

          &::placeholder {
            opacity: 1 !important;
            color: rgba($dark-color, .5) !important;
          }

          &:focus {
            background-color: rgba($main-color, 0.1);
          }
        }
      }
    }

    .btn-back {
      font: 500 16px/1 $main-font;
      color: $dark-color;
      border-radius: 50px;
      padding: 11px 32px;
      max-width: max-content;
      background-color: rgba($secondary-color, .1);

      &:hover {
        background-color: rgba($secondary-color, .2);
      }
    }

    .privacy-policy-label {
      font: 600 12px/1.1 $main-font;

      a {
        color: $main-color;
      }
    }
  }
}
