body.orange-color {
  .reviews-section,
  .services-section {
    background-color: $background-color-elektro;
  }
  .offer-section {
    h3 {
      color: $primary-color;
    }

    form {
      border-color: $primary-color;
    }

    .form-wrap {


      padding: 100px;
      form {
        .form-group {
          input {
            background-color: $background-color-elektro;
          }
        }
      }
    }
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    color: rgb(56, 32, 6);

    &:hover {
      color: $main-elektro-color;
    }
  }

  .swiper .swiper-pagination-bullet-active {
    background-color: $main-elektro-color;
  }

  h3,
  .quote-section .quote-wrap h4,
  .services-section .items-wrap .item h5,
  .quote-section .quote-wrap .author-wrap .text-wrap h6,
  .reviews-section .item .name-wrap h6,
  .faq-section .accordion .accordion-item .accordion-button.collapsed h6 {
    color: rgb(56, 32, 6);
  }

  .quote-section .quote-wrap h4 span,
  .reviews-section .item .text-wrap p span,
  .faq-section .accordion .accordion-item .accordion-button:not(.collapsed) h6 {
    color: rgb(180, 101, 17);
  }

  .lamp-icon {
    width: 40px;
  }
  .hero-section .text-wrap span {
    color: $main-elektro-color;
  }

  .services-section .items-wrap .large-wrap .item {
    border-color: rgb(56, 32, 6);
  }
  

  .btn-main {
    color: $dark-color;
    border: 1px solid orange;

    &:hover {
      color: $white-color;
      background-color: $main-elektro-color;
    }

    &.btn-color {
      color: $white-color;
      background-color: orange;
      border: 1px solid orange;

      &:hover {
        color: $white-color;
        border-color: darken($main-elektro-color, 10%);
        background-color: darken($main-elektro-color, 10%);
      }
    }

    &.btn-with-icon {
      .btn-icon {
        background-color: orange;
      }

      &:hover {
       background-color: $main-elektro-color!important;
      }
    }

    &.btn-small-with-icon {
      color: $white-color;
      border-color: $main-elektro-color;
      background-color: $main-elektro-color;
    }
  }

  .faq-section {
    a {
      text-decoration: none;
      color: $main-elektro-color;
    }
    p {
      color: #140b00;
    }
  }
  footer {
    background-color: rgb(207, 134, 45);

    .contacts-wrap a:hover {
      color: rgb(56, 32, 6);
    }

    .links-wrap a:hover {
      color: rgb(56, 32, 6);
    }
  }
}
