.partners-section {
  padding: 80px 0 0;

  @media (max-width: $screen-md) {
    padding: 60px 0 0;
  }

  .swiper {
    position: relative;
    padding-bottom: 40px;

    .swiper-slide {
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      background-color: $white-color;
      border: 1px solid #eeeeee;
      transition: $fast-transition;

      @media (max-width: $screen-lg) {
        padding: 15px;
      }

      img {
        max-width: 100%;
      }
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 8px;
    }

    .swiper-pagination-bullet-active {
      background-color: $main-color;
    }
  }

  .items-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $screen-md) {
      gap: 15px;
    }

    .item {
      flex: 1;
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      background-color: rgba($main-color, .05);

      @media (max-width: $screen-lg) {
        padding: 15px;
      }

      @media (max-width: $screen-md) {
        flex: auto;
        width: calc((100% - 30px) / 3);
      }

      @media (max-width: $screen-xs) {
        width: calc((100% - 15px) / 2);
      }

      img {
        max-width: 100%;
      }
    }
  }
}
