.policy-section {
  padding: 120px 0 60px;

  @media (max-width: $screen-md) {
    padding: 90px 0 40px;
  }

  .text-wrap {
    margin: 0 0 40px;
    padding: 50px 40px;
    border-radius: 15px;
    background-color: rgba($main-color, .05);

    @media (max-width: $screen-md) {
      margin: 0 0 20px;
      padding: 20px 24px;
    }

    ul {
      font: 400 16px/1.4 $main-font;
      margin: 0;

      @media (max-width: $screen-md) {
        font-size: 14px;
      }
    }

    h3 {
      color: $secondary-color;
      margin: 0 0 20px;
    }

    p span {
      font-weight: 700;
    }
  }
}
