.quote-section {
  padding: 40px 0;

  @media (max-width: $screen-md) {
    padding: 30px 0;
  }

  .quote-wrap {

    @media (max-width: $screen-md) {
      margin: 0 0 30px;
    }

    h4 {
      color: $secondary-color;
      margin: 0 0 20px;

      @media (max-width: $screen-lg) {
        padding-right: 20px;
      }

      @media (max-width: $screen-md) {
        margin: 0 0 15px
      }

      span {
        color: $medium-blue-color;
      }
    }

    .author-wrap {
      display: flex;
      align-items: center;
      gap: 15px;

      @media (max-width: $screen-lg) {
        gap: 10px;
      }

      img {
        max-width: 64px;

        @media (max-width: $screen-lg) {
          max-width: 48px;
        }
      }

      .text-wrap {

        h6 {
          color: $secondary-color;
          line-height: 1;
          margin: 0 0 6px;
        }

        p {
          font: 500 16px/1 $main-font;

          @media (max-width: $screen-lg) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .description-wrap p {
    font-size: 18px;

    @media (max-width: $screen-lg) {
      font-size: 16px;
    }

    @media (max-width: $screen-md) {
      font-size: 14px;
    }
  }
}
