.services-section {
  padding: 40px 0;

  @media (max-width: $screen-md) {
    padding: 30px 0;
  }

  .items-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $screen-md) {
      flex-wrap: wrap;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    .small-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 2;

      @media (max-width: $screen-md) {
        flex: 1.5;
      }
    }

    .large-wrap {
      flex: 1;

      .item {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 40px 40px 0;
        border: 2px solid $medium-blue-color;

        @media (max-width: $screen-lg) {
          padding: 30px 30px 0;
        }

        @media (max-width: $screen-md) {
          padding: 30px 20px 0;
        }

        h5 {
          font-size: 28px;
          color: $medium-blue-color;

          @media (max-width: $screen-lg) {
            font-size: 24px;
          }

          @media (max-width: $screen-md) {
            font-size: 20px;
          }
        }

        p {
          font-size: 16px;
          margin-bottom: 30px;

          @media (max-width: $screen-lg) {
            font-size: 14px;
            margin-bottom: 20px;
          }
        }

        .icon-wrap {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          @media (max-width: $screen-lg) {
            margin-top: auto;
          }

          img {
            text-align: right;
            margin-right: -20px;

            @media (max-width: $screen-md) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .item {
      flex: 1;
      padding: 30px;
      border-radius: 15px;
      background-color: $white-color;
      border: 1px solid $light-border-color;
      box-shadow: $card-box-shadow;
      transition: $med-transition;

      @media (max-width: $screen-md) {
        flex: auto;
        padding: 30px 20px;
        min-height: auto;
      }

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      * {
        transition: $med-transition;
      }

      //&:hover {
      //  background: url('../img/services-item-bg.png') center no-repeat;
      //  background-size: cover;
      //
      //  h5, p {
      //    color: $white-color;
      //  }
      //}

      h5 {
        color: $secondary-color;
        margin: 0 0 15px;

        @media (max-width: $screen-md) {
          margin: 0 0 10px;
        }
      }

      p {
        font-size: 14px;
        color: $dark-color;
      }
    }
  }

  .services-cta-wrap {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;

    @media (max-width: $screen-md) {
      margin: 20px 0 0;
    }
  }
}
