// Theme colors
$main-color: #4392C7;
$medium-blue-color: #6685A3;
$secondary-color: #072E56;
$dark-color: #262626;
$light-border-color: #F5F5F5;
$light-body-bg-color: #FCFCFC;

$main-gradient: linear-gradient(90deg, $main-color 0%, #195E8F 100%);
$main-gradient-hover: linear-gradient(120deg, $main-color 30%, #195E8F 100%);

$black-color: #000000;
$white-color: #FFFFFF;

// Elektro theme colors

$main-elektro-color: orange;
$primary-color: rgb(56, 32, 6);
$background-color-elektro: rgb(250 246 239 / 82%);

// Shadows
$card-box-shadow: 0 0 50px 0 rgba(4, 33, 61, .03);
$card-hover-box-shadow: 0 0 100px 0 rgba(4, 33, 61, .1);
