// Theme colors
$main-color: #4392C7;
$medium-blue-color: #6685A3;
$secondary-color: #072E56;
$dark-color: #262626;
$light-border-color: #F5F5F5;
$light-body-bg-color: #FCFCFC;

$black-color: #000000;
$white-color: #FFFFFF;

// Shadows
$card-box-shadow: 0 0 50px 0 rgba(4, 33, 61, .03);
